<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="Spravy"
             Version="$(var.Version)"
             Manufacturer="SerhiiMaksymovFOP"
             UpgradeCode="402AA807-F73D-49F3-83A3-454DFB1411C6">
        <Property Id="INSTALLFOLDER" Value="C:\Spravy"/>
        <Media Id="1" Cabinet="Spravy.cab" EmbedCab="yes"/>
        <File Id="appsettings.json" Source="appsettings.json"/>
        <File Id="av_libglesv2.dll" Source="av_libglesv2.dll"/>
        <File Id="e_sqlite3.dll" Source="e_sqlite3.dll"/>
        <File Id="libHarfBuzzSharp.dll" Source="libHarfBuzzSharp.dll"/>
        <File Id="libSkiaSharp.dll" Source="libSkiaSharp.dll"/>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Spravy"/>
        </StandardDirectory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Spravy"
                          Description="Spravy Application "
                          Target="Spravy.Ui.Desktop.exe"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\SerhiiMaksymovFOP\Spravy" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Component Id="Spravy.Ui.Desktop.exe">
            <File Id="Spravy.Ui.Desktop.exe" Source="Spravy.Ui.Desktop.exe" KeyPath="yes"/>
            <!-- Define a desktop shortcut -->
            <Shortcut Id="DesktopShortcut"
                      Directory="DesktopFolder"
                      Name="Spravy"
                      Description="Launch Spravy"
                      Target="[INSTALLFOLDER]Spravy.Ui.Desktop.exe"
                      WorkingDirectory="INSTALLFOLDER"/>
            <Shortcut Id="DesktopWindowMenu"
                      Name="Spravy"
                      Advertise="yes"/>
        </Component>

        <Upgrade Id="402AA807-F73D-49F3-83A3-454DFB1411C6">
            <UpgradeVersion OnlyDetect="no"
                            Property="OLDPRODUCTS"
                            Minimum="0.0.0.0"
                            Maximum="10.0.0.0"
                            IncludeMinimum="yes"
                            IncludeMaximum="no"/>
        </Upgrade>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>
    </Package>
</Wix>
